.home-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 93vh;
    align-items: center;
}

.match-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-btn {
    padding: 7px 10px;
    background-color: greenyellow;
    border-radius: 10px;
    margin-bottom: 30px;
}

.hide {
    display: none;
}
