#home-main {
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.match-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-btn {
    padding: 7px 10px;
    background-color: greenyellow;
    border-radius: 10px;
    margin-bottom: 30px;
}


/* .hide {
    display: none;
}

.dropdown-menu {
    display:none;
}

.dropdown-menu.show {
    display: block;
    position: fixed;
    top: 30px;
    right: 40px;
}
.container-fluid {
    width: 80px;
} */
